<div class="col">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card shadow-sm movie-card" style="margin-top: 10px; width: 80%;">
            <img [src]="'https://image.tmdb.org/t/p/w500' + movieInfo.poster_path" alt="Movie Poster" style="margin: 2px;  align-items: center;" height="380px">
            <div class="card-body">
               
                <p class="card-text overview-text">
                    {{ movieInfo != null && movieInfo.overview }}
                </p>
    
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark" style="font-weight: bold;" (click)="viewMovie()">View</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success" style="font-weight: bold;" (click)="saveMovieInfo()" routerLink="/suggetions">Suggetions</button>
                    </div>
                    <small class="text-body-secondary" style="font-size: 1.3rem; font-weight: bold;">
                        {{ movieInfo != null && movieInfo.vote_average }}⭐
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
