<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">

    <h2>Admin Dashboard</h2>
    <br><br>
    <button type="button" class="btn btn-primary" id="button" routerLink="/movie">Movie</button><br>
    <button type="button" class="btn btn-primary" id="button" routerLink="/users">Users</button><br>
    <button type="button" class="btn btn-primary" id="button" routerLink="/suggetion">Suggetions</button><br>
    <button type="button" class="btn btn-primary" id="button" routerLink="/reports">Reports</button><br>
</div>
